{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

        <!--//==Page Header Start==//-->	  
        <div class="page-header black-overlay">
            <div class="container breadcrumb-section">
                <div class="row pad-s15">
                    <div class="col-md-12">
                        <h2>About Us</h2>
                        <div class="clear"></div>
                        <div class="breadcrumb-box">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="active"> About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//==Page Header End==//-->	  
        <!--//==Blog Detail Start==//-->
        <section class="page_single blogs_main blogs_details padTB100">
            <div class="container">
                <div class="row">
                    <!--//==Blog Detail Section Start==//-->			
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 marB20">
                            <div class="row">
                                <!--//==Thumbnail==//-->
                                <figure class="dark-theme">
                                    <img src="{% static 'assets/img/all/about-us.jpg' %}" alt="Blog Thumbnail">
                                </figure>
                                <!--//==Blog Content==//-->
                                <div class="block-caption padT20">
                                    <h3>ABOUT ELEGANZ FABRICS</h3>
                                    <!--//==Meta Detail==//-->
                                    <div class="meta-block">
                                        
                                    </div>
                                    <p>Eleganz Fabrics is a continously growing brand which launched its first appearance in the textile market in 2016. Since then it has expanded and currently operates in Western Africa, Southern Africa and the Indian ocean with operational bases in Nigeria, South Africa and Mauritius Island. it has also succeeded in creating and co-creating an ever evolving fashion sense through meeting-up with customers' expectations by delivering top quality and exquisite textile prints with the finest, purest 100% cotton fabrics. </p>
                                    <blockquote class="theme-quote">
                                        <p>ELEGANZ FABRICS is a subsidiary of ELEGANZ RECREATION LTD</p>
                                    </blockquote>
                                    <p>At Eleganz Fabrics, we value our community, support their fashion needs and reward their fashion tastes through high quality and contemporary designs. Our services reflect our values and what we stand for via customer commitment. We develop relationships beyond sales from start which is purchase of the fabric to finish which is the desire of getting a perfect outfit.</p>
                                    <div class="meta-block">
                                        <h4>INTEGRITY</h4>
                                    </div>
                                    <p>We uphold high standard of integrity by offering full money back and exchange guarantees in cases of unforseen manufacturing fabric errors and other unintended explanable errors </p>
                                    <div class="meta-block">
                                        <h4>CULTURE</h4>
                                    </div>
                                    <p>Not the least by any means; we strive everyday to promote and show our Motherland 'Africa' culture to the globe through our home initiated designs from sub-saharan and other parts of Africa to the world by offering rich colourful and exquisite African textile prints. above all, we tell our stories through our trendy and colourful prints.</p>
                                    <div class="meta-block">
                                        <h4>OUR OBJECTIVE</h4>
                                    </div>
                                    <p>We provide exquisite and contemporary Motherland African colourful textiles which not only tell stories but feed our customers' tastes with quality and style.</p>
                                    <div class="meta-block">
                                        <h5>"LIFESTYLE MERCHANDISING IS OUR BUSINESS"</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <!--//==Comment Area End==//-->
                    </div>
                    <!--//==Blog Detail Section End==//-->
                </div>
            </div>
        </section>
        <!--//==Blog Detail End==//-->

{% endblock content %}