{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

        <!--//==Page Header Start==//-->	  
        <div class="page-header black-overlay">
            <div class="container breadcrumb-section">
                <div class="row pad-s15">
                    <div class="col-md-12">
                        <h2>User Details</h2>
                        <div class="clear"></div>
                        <div class="breadcrumb-box">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="{% url "core:index" %}">Home</a>
                                </li>
                                <li class="active">  <b>Hi, {{ profile.user.username }}</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//==Page Header End==//-->
        <!--//== Order Billing and shipping Section Start ==//-->  
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <section class="checkout-page padT100 padB50">
                <div class="container">
                    <div class="row product-checkout pad-s15">
                        
                        <!--//==Billings and Shipping Form Start==//-->	
                        <div class="contact-form">
                            
                            <div class="col-sm-6 col-md-6 wv_checkout_left marT30">
                                <!--//== Section Heading Start ==//-->
                                <div class="left-title">
                                    <h2>Edit details <span class="heading-border"></span></h2>
                                    <div class="clear"></div>
                                </div>
                                <!--//== Section Heading End ==//-->
                                <!--//==Billings Form Start==//-->	
                                <div class="row">
                                    <!--//==Billings Input Field==//-->
                                    <div class="col-md-6 form-group">
                                      <p class="form-row pd-right">
                                        <label for="first_name">First Name </label>
                                        <input type="text" name="first_name" id="first_name" value="{{ profile.first_name }}" class="form-controller">
                                    </p>
                                      
                                    </div>
                                    <div class="col-md-6 form-group">
                                      <p class="form-row pd-left">
                                        <label for="last_name">Last Name </label>
                                        <input type="text" name="last_name" id="last_name" value="{{ profile.last_name }}" class="form-controller">
                                    </p>
                                        
                                    </div>
                                    
                                    <!--//==Billings Input Field==//-->
                                    <div class="col-md-6 form-group">
                                      <p class="form-row pd-right">
                                        <label for="phone">Phone Number</label>
                                        <input type="text" name="phone" id="phone" value="{{ profile.phone }}" class="form-controller">
                                    </p>
                                        
                                    </div>
                                    <div class="col-md-6 form-group">
                                      <p class="form-row pd-right">
                                        <label for="city">City</label>
                                        <input type="text" name="city" id="city" value="{{ profile.city }}" class="form-controller">
                                      </p>
                                        
                                    </div>
                                    <!--//==Billings Input Field==//-->
                                    <div class="col-md-12 form-group">
                                      <p class="form-row pd-right">
                                        <label for="country">Country</label>
                                        <input type="text" name="country" id="country" value="{{ profile.country }}" class="form-controller">
                                      </p>
                                        
                                    </div>
                                                                       
                                    
                                </div>
                                <!--//==Billings Form Start==//-->	
                            </div>
                            <div class="col-sm-6 col-md-6 marT30">
                                <!--//== Section Heading Start ==//-->
                                <div class="left-title">
                                    <h2 id="ship-to-different-address">Address<span class="heading-border"></span>
                                        
                                    </h2>
                                    <div class="clear"></div>
                                </div>
                                <!--//== Section Heading End ==//-->
                                
                                <div class="row">
                                  <!--//==Extra Message Field==//-->
                                  <div class="col-md-12 form-group">
                                      <textarea name="house_address" label for="house_address" id="house_address" class="textarea-message wv_form_focus wv_checkout_tarea" rows="8">{{ profile.house_address }}</textarea>
                                  </div>
                                  <div class="col-md-12 form-group">
                                    <p class="form-row">
                                      <input type="submit" value="Edit Profile" name="edit Profile" class="theme-button col-md-12 marB20">                           
                                  </p>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <!--//==Billings and Shipping Form End==//-->	
                    </div>
                </div>
            </section>
            <!--//== Order Billing and shipping Section End ==//-->  	
            
        </form>
        <!--//== Place Order End ==//-->

{% endblock content %}