{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

        <!--//==Page Header Start==//-->	  
        <div class="page-header black-overlay">
            <div class="container breadcrumb-section">
                <div class="row pad-s15">
                    <div class="col-md-12">
                        <h2>Order Completed Page</h2>
                        <div class="clear"></div>
                        <div class="breadcrumb-box">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="{% url "core:index" %}">Home</a>
                                </li>
                                <li class="active">Order Completed</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//==Page Header End==//-->
        <!--//== Order Billing and shipping Section Start ==//-->  
        </br></br>
        <div class="check-container">
            <div class="check-mark">&#10004;</div>
            <h3><b>Your cart order request has been made. We will contact you shortly for delivery.</b></h3>
        </div></br></br>
        

{% endblock content %}