{% extends 'partials/base.html' %}
{% load static %}

{% block content %}



        <!--//==Page Header Start==//-->	  
        <div class="page-header black-overlay">
            <div class="container breadcrumb-section">
                <div class="row pad-s15">
                    <div class="col-md-12">
                        <h2>User History</h2>
                        <div class="clear"></div>
                        <div class="breadcrumb-box">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="{% url 'core:index' %}">Home</a>
                                </li>
                                <li class="active"> User History</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//==Page Header End==//-->

        <section class="cart-page padTB100">
          <div class="container">
              <div class="row wv-pads15">
                  <div class="col-md-12 col-sm-12">
                      <!--//==Section Heading Start==//-->
                      <div class="left-title">
                          <h2>Your Orders <span class="heading-border"></span></h2>
                          <div class="clear"></div>
                      </div>
                      <!--//==Section Heading End==//-->
                      <div class="clear"></div>
                      <!--//==Order Table titles Start==//-->
                      <div class="hidden-xs">
                          <div class="col-md-2 col-sm-2 grey-bg">
                              <div class="order-data text-center pad15">
                                  <strong>Order No</strong>
                              </div>
                          </div>
                          <div class="col-md-2 col-sm-2 grey-bg">
                              <div class="order-data text-center pad15">
                                  <strong>Date</strong>
                              </div>
                          </div>
                          <div class="col-md-2 col-sm-2 grey-bg">
                              <div class="order-data  text-center pad15">
                                  <strong>Price</strong>
                              </div>
                          </div>
                          <div class="col-md-2 col-sm-2 grey-bg">
                              <div class="order-data text-center pad15">
                                  <strong>Quantity</strong>
                              </div>
                          </div>
                          <div class="col-md-2 col-sm-2 grey-bg">
                              <div class="order-data text-center pad15">
                                  <strong>Total</strong>
                              </div>
                          </div>
                          <div class="col-md-2 col-sm-2 grey-bg">
                              <div class="order-data text-center pad15">
                                  <strong>Paid Status</strong>
                              </div>
                          </div>
                      </div>
                      <!--//==Order Table titles End==//-->
                      <!--//==Order Table Row ==//-->
                      {% for o in orders %}
                      <div class="row">
                          <div class="col-md-12">
                              <div class="order-row padTB20">
                                  <div class="col-md-2 col-sm-2">
                                      <div class="order-data order-table text-center padTB15">
                                          <div class="order-table-cell order-text">
                                              <strong>{{ o.id }}</strong>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-2 col-sm-2">
                                      <div class="order-data order-table text-center">
                                          <div class="order-table-cell order-text">           
                                              <strong>{{ o.order_date }}</strong>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-2 col-sm-2">
                                      <div class="order-data order-table text-center">
                                          <div class="order-table-cell order-text">
                                              {% for product in o.cartorderproducts_set.all %}
                                              <strong>Rs {{ product.total }}, </strong>
                                              {% endfor %}
                                              
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-2 col-sm-2">
                                      <div class="order-data order-table text-center">
                                          <div class="order-table-cell order-text">
                                              {% for product in o.cartorderproducts_set.all %}
                                              <strong>{{ product.item }} ,</strong>
                                              {% endfor %}
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-2 col-sm-2">
                                      <div class="order-data order-table text-center">
                                          <div class="order-table-cell order-text">
                                            <strong>Rs {{ o.price }}</strong>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-2 col-sm-2">
                                      <div class="order-data order-table text-center">
                                          <div class="order-table-cell order-text">
                                              <strong>{{ o.paid_status }}</strong>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </section>
      <!--//==Order Section End==//-->
      

    
          
        
        
        
{% endblock content %}