{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
        <!--//==Page Header Start==//-->	  
        <div class="page-header black-overlay">
            <div class="container breadcrumb-section">
                <div class="row pad-s15">
                    <div class="col-md-12">
                        <h2>Wishlist Page</h2>
                        <div class="clear"></div>
                        <div class="breadcrumb-box">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="{% url "core:index" %}">Home</a>
                                </li>
                                <li class="active">Wishlist</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//==Page Header End==//-->
        <!--//==Orders Section Start==//-->	  
        <section class="cart-page padTB100">
            <div class="container">
                <div class="row wv-pads15">
                    <div class="col-md-12 col-sm-12">
                        <!--//==Section Heading Start==//-->
                        <div class="left-title">
                            <h2>Your Wishes <span class="heading-border"></span></h2>
                            <div class="clear"></div>
                        </div>
                        <!--//==Section Heading End==//-->
                        <div class="clear"></div>
                        <!--//==Order Table titles Start==//-->
                        <div class="hidden-xs">
                            <div class="col-md-2 col-sm-2 grey-bg">
                                <div class="order-data text-center pad15">
                                    <strong>Item</strong>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 grey-bg">
                                <div class="order-data text-center pad15">
                                    <strong>product</strong>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 grey-bg">
                                <div class="order-data  text-center pad15">
                                    <strong>price</strong>
                                </div>
                            </div>
                            
                            <div class="col-md-2 col-sm-2 grey-bg">
                                <div class="order-data text-center pad15">
                                    <strong>Delete wish</strong>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2 grey-bg">
                                <div class="order-data text-center pad15">
                                    <strong>Add to Orders</strong>
                                </div>
                            </div>
                        </div>
                        <!--//==Order Table titles End==//-->
                        <!--//==Order Table Row ==//-->
                        {% for w in w %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="order-row padTB20">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="order-data order-table text-center padTB15">
                                            <div class="order-table-cell">
                                                <a href="product-detail.html"><img src="{{ w.product.image.url }}" alt=""></a>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="order-data order-table text-center">
                                            <div class="order-table-cell order-text">           
                                                <strong><a href="product-detail.html">{{ w.product.title }}</a></strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="order-data order-table text-center">
                                            <div class="order-table-cell order-text">
                                                <strong> Rs <b class="current-product-price-{{ w.product.id }}"> {{ w.product.price }}</b></strong>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-2 col-sm-2">
                                        <div class="order-data order-table text-center">
                                            <div class="order-table-cell order-text">
                                                <strong><button type="submit" class="delete-wishlist-product" data-wishlist-product="{{ w.id }}" ><i class="fa fa-trash "  aria-hidden="true"></i></button></strong>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2">
                                        <div class="order-data order-table text-center">
                                            <div class="order-table-cell order-text">
                                                <input type="hidden" value="1" name="" id="product-quantity" class="product-quantity-{{w.product.id}}">
                                                <input type="hidden" class="product-pid-{{w.product.id}}" value="{{w.product.pid}}">
                                                <input type="hidden" class="product-image-{{w.product.id}}" value="{{w.product.image.url}}">
                                                <input type="hidden" class="product-id-{{w.product.id}}" value="{{ w.product.id }}">
                                                <input type="hidden" class="product-title-{{w.product.id}}" value="{{ w.product.title }}">
                                                <strong><button type="submit" class="add-to-cart-btn" data-index="{{ w.product.id }}"><i class="fa fa-shopping-basket " aria-hidden="true"></i></button></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!--//==Order Section End==//-->
        <!--//== Order Price Section Start ==//-->
        <section class="cart-page padB100">
            <div class="container">
                <div class="row">
                    
                    <!--//== Price Calculation Section Start ==//-->
                    <div class="col-xs-12 col-sm-6 col-md-7 wv_subtotal">
                        <!--//==Section Heading Start==//-->
                        <div class="left-title">
                            <h2>Proceed to Order<span class="heading-border"></span></h2>
                            <div class="clear"></div>
                        </div>
                        <!--//==Section Heading End==//-->
                        
                            <div class="row">
                                <div class="col-xs-12 col-md-6 wv_checkout wv_form_field1 responsive_field1">
                                    <a class="theme-button col-xs-12 marT0" href="{% url 'core:product-list' %}">Back to Shop </a>
                                </div>
                                <div class="col-xs-12 col-md-6 wv_checkout wv_form_field">							   
                                    <a class="theme-button col-xs-12 marT0" href="{% url 'core:product-list' %}">Checkout</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!--//== Price Calculation Section End ==//-->
                </div>
            </div>
        </section>
        <!--//== Order Price Section End ==//-->
        
{% endblock content %}